	<div class="row">
		<div class="col-md-4">	
		 	<%= image_tag @recipe.recipe_img.url(:recipe_show), class: "recipe-show" %>
		</div>
		<div class="col-md-8"></div>
			<h2><%= @recipe.title %></h2>
			<h3><%= @recipe.author %></h3>
			<h4>Category: <%= @recipe.category.name %></h4>
			<p><%= @recipe.description %></p>
		</div>
	</div>
	<%= link_to "Back ", root_path %>

	<% if user_signed_in? %>

			<div class="row">
				<div class="col-md-4">
					<!-- mesto za komentare/like -->
					<br>
					<h2><%= @recipe.comments.count %>: Comments</h2>
						<%= render @recipe.comments %>
						<h3>Add a Comment </h3>
						<%= render "comments/form" %>
					<br>
				</div>
			</div>	

		<% if @recipe.user_id == current_user.id %>
			<%= link_to " Edit ", edit_recipe_path(@recipe) %>
			<%= link_to " Delete ", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?"} %>
			<% end %>
	<% end %>