	<div class="row">
		<div class="col-md-3">	
		 	<%= image_tag @recipe.recipe_img.url(:recipe_show), class: "recipe-show" %>
		</div>
		<div class="col-md-8"></div>
			<h2><%= @recipe.title %></h2>
			<h3><%= @recipe.author %></h3>
			<h4>Category: <%= @recipe.category.name %></h4>
			<p><%= @recipe.description %></p>
		</div>
	</div>
						<!-- mesto za like-->

	<strong>Posted by:</strong> <%= @recipe.user.email %><br>
	|	<%= pluralize @recipe.reputation_for(:votes).to_i, "vote" %>
	|	<%= link_to "Like", vote_recipe_path(@recipe, type: "Like", method: "post") %>
	|	<%= link_to "Dislike", vote_recipe_path(@recipe, type: "Dislike", method: "post") %>
	|	<%= link_to "Back ", root_path %><br>

	<% if user_signed_in? %>
		<div class="row">
		<div class="col-md-4">
		<!-- mesto za komentare-->	<br>
			<h4><%= @recipe.comments.count %>: Comments</h4>
				<%= render @recipe.comments %>
					|	<%= pluralize @recipe.reputation_for(:votes).to_i, "vote" %>
					|	<%= link_to "Like", vote_recipe_comment_path(@recipe, type: "Like", method: "post") %>
					|	<%= link_to "Dislike", vote_recipe_comment_path(@recipe, type: "Dislike", method: "post") %><br>
						<h3>Add a Comment </h3>
					<%= render "comments/form" %>
				</div>
			</div>	
	<% end %>

			<!-- Zasto se ne prikazuje?! -->
		<% if @recipe.user_id == current_user.id %>
			<%= link_to " Edit Recipe ", edit_recipe_path(@recipe) %><br>
			<%= link_to " Delete Recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?"} %>
			<% end %>
